%dl.dl-horizontal
  %dt.due_at
    = icon("clock-o")
    Due at
  %dd.due_at
    %p
      - if task.scheduled?
        = format_due_at task.due_at
        %br
        %em
          = surround '(', ')' do
            = jquery_time_ago(task.due_at)
      - else
        Unscheduled

  %dt= icon_and_text 'bell-o', "Reminder"
  %dd
    %p= reminder_options.key(task.reminder) || "Never"

  %dt= icon_and_text 'repeat', "Repeat every"
  %dd
    %p= task.repeat_every.presence || "Only once"

  - if task.sub_tasks.any?
    %dt= icon_and_text 'list', "Sub tasks"
    %dd
      %table.table.table-condensed
        %tbody
          = render task.sub_tasks

  - if task.category.present?
    %dt= icon_and_text 'tag', "Category"
    %dd
      %p= task.category.name

  - if task.url.present?
    %dt= icon_and_text 'external-link', "Url"
    %dd
      %p= link_to truncate(task.url, length: 40), task.url, target: "_blank"

  - if task.location.present?
    %dt= icon_and_text 'map-marker', "Location"
    %dd
      %p
        = task.location
        %br
        = link_to "Open in Google Maps", root_url(protocol: "https://", host: "maps.google.es", port: nil, q: task.location), target: "_blank"

  - if task.image?
    %dt= icon_and_text 'camera', "Image"
    %dd
      %p
        = link_to task.image.url, target: '_blank' do
          = cl_image_tag task.image, class: 'img-responsive', width: 600, height: 480, crop: :thumb, gravity: :center

  - if task.description.present?
    %dt= icon_and_text 'align-left', "Description"
    %dd.markdown= markdown task.description
