<ul class="nav nav-tabs">
  <li class="active">
    <a href="#basic-info" data-toggle="tab">Basic info</a>
  </li>
  <li><a href="#more-stuff" data-toggle="tab">More stuff</a></li>
</ul>
<p></p>

<%= form_for @task do |f| %>
  <div class="tab-content">
    <div class="tab-pane active" id="basic-info">
      <div class="form-group <%= "has-error" if @task.errors[:name].any? %>">
        <%= f.label :name %>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <% if @task.errors[:name].any? %>
          <p class="help-block"><%= @task.errors[:name].to_sentence %></p>
      <% end %>
      </div>
      <div class="form-group <%= "has-error" if @task.errors[:humanized_due_at].any? %>">
        <%= f.label :humanized_due_at, "Due at" %>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
          <%= f.text_field :humanized_due_at, class: "form-control" %>
        </div>
        <% if @task.errors[:humanized_due_at].any? %>
          <p class="help-block"><%= @task.errors[:humanized_due_at].to_sentence %></p>
      <% end %>
      </div>
      <div class="form-group">
        <%= f.label :reminder_send_before_due_at, "Reminder" %>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-bell"></span></div>
          <%= f.select :reminder_send_before_due_at, reminder_beforehand_due_at_options, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="more-stuff">
      <div class="form-group">
        <%= f.label :url %>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></div>
          <%= f.text_field :url, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
          <%= f.text_field :location, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", rows: 3 %>
      </div>
    </div>
  </div>

  <p>
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @task.persisted? ? @task : tasks_path, class: 'btn btn-default' %>
  </p>
<% end %>
