%ul.nav.nav-tabs
  %li.active= link_to "Basic info", '#basic-info', data: { toggle: 'tab' }
  %li=        link_to "Sub tasks",  '#sub-tasks',  data: { toggle: 'tab' }
  %li=        link_to "More...",    '#more-stuff', data: { toggle: 'tab' }
%p

= form_for @task do |f|
  .tab-content
    #basic-info.tab-pane.active
      .row
        .col-md-10.col-lg-8
          .form-group{class: ('has-error' if @task.errors[:name].any?)}
            = f.label :name, class: 'control-label' do
              Name
              %small.text-muted (The only required field!)
            .input-group
              .input-group-addon= icon('pencil')
              = f.text_field :name, class: 'form-control'
            - if @task.errors[:name].any?
              %p.help-block= @task.errors[:name].to_sentence

          .form-group{class: ('has-error' if @task.errors[:humanized_due_at].any?)}
            = f.label :humanized_due_at, "Due at", class: 'control-label'
            .input-group
              .input-group-addon= icon('clock-o')
              = f.text_field :humanized_due_at, class: 'form-control'
            - if @task.errors[:humanized_due_at].any?
              %p.help-block= @task.errors[:humanized_due_at].to_sentence

          .form-group
            = f.label :reminder, class: 'control-label'
            .input-group
              .input-group-addon= icon('bell')
              = f.select :reminder, reminder_options, { include_blank: "Never" }, class: 'form-control'

          .form-group
            = f.label :repeat_every, class: 'control-label'
            .input-group
              .input-group-addon= icon('repeat')
              = f.select :repeat_every, repeat_every_options, { include_blank: "Only once" }, class: 'form-control'

    #sub-tasks.tab-pane
      .row
        .col-md-10.col-lg-8
          = f.fields_for :sub_tasks do |sub_task_form|
            = render 'sub_task_fields', f: sub_task_form
          .form-group
            = link_to_add_association icon_and_text('plus', "Add another"), f, :sub_tasks, class: 'btn btn-default btn-block'

    #more-stuff.tab-pane
      .row
        .col-md-10.col-lg-8
          .form-group
            = f.label :category_id, class: 'control-label'
            .input-group
              .input-group-addon= icon('tag')
              = f.collection_select :category_id, current_user.categories, :id, :name, { include_blank: true }, class: 'form-control'

          .form-group
            = f.label :url, class: 'control-label'
            .input-group
              .input-group-addon= icon('external-link')
              = f.text_field :url, class: 'form-control'

          .form-group
            = f.label :location, class: 'control-label'
            .input-group
              .input-group-addon= icon('map-marker')
              = f.text_field :location, class: 'form-control'

      .form-group
        = f.label :description, class: 'control-label'
        = f.text_area :description, class: 'form-control', rows: 5
        %p.help-block You can use Markdown syntax

  .form-group
    = f.button class: 'btn btn-success btn-lg', data: { disable_with: "#{@task.new_record? ? "Creating" : "Updating"} Task..." } do
      = icon('check')
      = @task.new_record? ? "Create" : "Update"
      Task

    - if @task.persisted?
      #delete-confirm-modal.modal
        .modal-dialog.modal-sm
          .modal-content
            .modal-body
              %h3 Are you sure?
              = link_to @task, method: :delete, class: 'btn btn-danger btn-lg btn-block' do
                = icon('trash')
                Yes, delete
              = link_to "#", data: { dismiss: 'modal' }, class: 'btn btn-default btn-lg btn-block' do
                = icon('remove')
                No, cancel
      = link_to icon_and_text('trash', "Delete"), "#", data: { toggle: 'modal', target: '#delete-confirm-modal' }, class: 'btn btn-danger'

  = link_to @task.persisted? ? @task : tasks_path, class: 'btn btn-default' do
    = icon('chevron-left')
    Back
