<%= form_for @task, :html => { :class => 'form-vertical' } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field span6' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :due_at, :class => 'control-label' %>
      <div class="controls">
        <%= f.datetime_select :due_at, {}, :class => 'datetime_select span1' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', tasks_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
