<tr id="task_<%= task.id %>" class="task <%= task.done? ? "done" : "todo" %>">
  <td class="name"><%= link_to truncate(task.name), task %></td>
  <td class="due_at"><%= task.due_at.to_s(:time) %></td>
  <td class="actions"><%= link_to_destroy_task task %></td>
</tr>
