<h1><%= pluralize @tasks.count, "Task" %></h1>

<% if @tasks.any? %>
  <% @tasks.group_by { |task| task.due_at.to_date.strftime("%A, %B %e, %Y") }.each do |date, tasks| %>
    <strong><%= date %></strong>
    <table class="table table-striped">
      <tbody>
        <%= render tasks %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <div class="well">Yahoo! Nothing to do.</div>
<% end %>

<div class="main-button">
  <% if @show == "done" %>
    <%= link_to icon_and_text("remove", "Clear done tasks"), clear_tasks_path, class: 'btn btn-danger btn-lg btn-block', method: :delete %>
  <% else %>
    <%= link_to icon_and_text("plus", "Add another task"), new_task_path, class: 'btn btn-success btn-lg btn-block' %>
  <% end %>
</div>
