<div class="page-header">
  <h1><%= @task.name %></h1>
</div>

<p>
  <b>Due at <%= @task.due_at.to_s(:short) %></b><br>
  <%= time_ago_or_since_in_words @task.due_at %>
</p>

<p>
  <b>Reminder</b><br>
  <% if @task.reminder_send_before_due_at == 0 %>
    On time
  <% elsif @task.reminder_send_before_due_at.present? %>
    <%= time_ago_in_words @task.reminder_send_before_due_at.minutes.ago %> before
  <% else %>
    Never
  <% end %>
</p>

<div class="form-actions">
  <%= link_to icon_and_text("icon-arrow-left", "Back"), tasks_path, :class => 'btn'  %>
  <%= link_to icon_and_text("icon-edit", "Edit"), edit_task_path(@task), :class => 'btn' %>
  <%= link_to icon_and_text("icon-#{ @task.done? ? "remove" : "ok" } icon-white", @task.done? ? "Undo" : "Yata"), @task, :method => 'delete', :class => "btn btn-#{ @task.done? ? "inverse" : "success" }" %>
</div>
