%h1= @task.name

.row
  .col-md-10.col-lg-8
    = div_for @task, class: task_class(@task), data: { due_at: @task.due_at.to_s } do
      = render 'details', task: @task

      = form_tag task_shares_path(@task) do |f|
        %strong Share this task
        .form-group
          .input-group
            .input-group-addon= icon 'share-alt'
            = email_field_tag :email, nil, required: true, placeholder: "someone@example.com", class: "form-control"
            .input-group-btn
              = submit_tag "Share", class: "btn btn-default"
          - shared_with = @task.users.pluck(:email)
          - shared_with.delete(current_user.email)
          - if shared_with.any?
            %p.help-block
              Already shared with
              = shared_with.to_sentence

      = link_to icon_and_text('chevron-left', "Back"), tasks_path, class: 'btn btn-default'
      = link_to icon_and_text('pencil', "Edit"), edit_task_path(@task), class: 'btn btn-default'
      = link_to icon_and_text('check',  "Yata"), [:mark_as_done,   @task], method: :patch, class: "btn btn-lg   mark-as-done", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Wait" }
      = link_to icon_and_text('remove', "Undo"), [:unmark_as_done, @task], method: :patch, class: "btn btn-lg unmark-as-done", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Wait" }
