<h1><%= @task.name %></h1>

<div class="row"><div class="col-md-10 col-lg-8">
<p>
  <b>Due at <%= format_due_at @task.due_at %></b><br>
  <span class="<%= "delayed" if @task.delayed? %>"><%= jquery_time_ago @task.due_at %></span>
</p>

<p>
  <b>Repeat every</b><br>
  <%= @task.repeat_every.presence || "Only once" %>
</p>

<p>
  <b>Reminder</b><br>
  <%= reminder_options.key(@task.reminder) || "Never" %>
</p>

<% if @task.url.present? %>
  <p>
    <b>Url</b><br>
    <%= link_to truncate(@task.url, length: 40), @task.url, target: "_blank" %>
  </p>
<% end %>

<% if @task.location.present? %>
  <p>
    <b>Location</b><br>
    <%= @task.location %><br>
    <%= link_to "Open in Google Maps", root_url(protocol: "https://", host: "maps.google.es", port: nil, q: @task.location), target: "_blank" %>
  </p>
<% end %>

<% if @task.description.present? %>
  <p class="collapse-bottom">
    <b>Description</b>
  </p>
  <%= simple_format @task.description %>
<% end %>

<%= form_tag task_shares_path(@task) do |f| %>
  <b>Share this task</b><br/>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-share-alt"></span>
      </span>
      <%= email_field_tag :email, nil, required: true, placeholder: "someone@example.com", class: "form-control" %>
      <span class="input-group-btn">
        <%= submit_tag "Share", class: "btn btn-default" %>
      </span>
    </div>
  </div>
<% end %>

<p></p>
<%= link_to icon_and_text("chevron-left", "Back"), tasks_path, class: 'btn btn-default'  %>
<%= link_to icon_and_text("edit", "Edit"), edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to_destroy_task(@task, true) %>
</div></div>
