<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row"><div class="col-md-10 col-lg-8">
  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
      <%= f.email_field :email, class: "form-control", placeholder: "someone@example.com", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
      <%= f.password_field :password, class: "form-control", placeholder: "************", autocomplete: "off" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="btn-group" data-toggle="buttons">
        <%= f.label :remember_me, class: 'btn btn-default' do %>
          <%= f.check_box :remember_me %>
          <span class="glyphicon glyphicon-check"></span>
          <span class="glyphicon glyphicon-unchecked"></span>
          Remember me
        <% end %>
      </div>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Log in", class: "btn btn-lg btn-block btn-success" %>
  </div>
</div></div>
<% end %>

<%= render "devise/shared/links" %>
