<%= form_for @category do |f| %>
<div class="row"><div class="col-md-10 col-lg-8">
  <div class="form-group <%= "has-error" if @category.errors[:name].any? %>">
    <%= f.label :name, class: "control-label" %>
    <div class="input-group">
      <div class="input-group-addon"><%= icon("pencil") %></div>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <% if @category.errors[:name].any? %>
      <p class="help-block"><%= @category.errors[:name].to_sentence %></p>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.button class: 'btn btn-success btn-lg', data: { disable_with: "#{@category.new_record? ? "Creating" : "Updating"} Category..." } do %>
      <%= icon("ok") %>
      <%= @category.new_record? ? "Create" : "Update" %>
      Category
    <% end %>

    <%= link_to icon_and_text("trash", "Delete"), @category, class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } if @category.persisted? %>
  </div>
</div></div>
<% end %>

<%= link_to icon_and_text("chevron-left", "Back"), categories_path, class: 'btn btn-default' %>
