= form_for @category do |f|
  .row
    .col-md-10.col-lg-8
      .form-group{class: ("has-error" if @category.errors[:name].any?)}
        = f.label :name, class: "control-label"
        .input-group
          .input-group-addon= icon("pencil")
          = f.text_field :name, class: "form-control"
        - if @category.errors[:name].any?
          %p.help-block= @category.errors[:name].to_sentence

      .form-group
        = f.button class: 'btn btn-success btn-lg', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> #{@category.new_record? ? "Creating" : "Updating"} Category..." } do
          = icon("check")
          = @category.new_record? ? "Create" : "Update"
          Category

        - if @category.persisted?
          #delete-confirm-modal.modal
            .modal-dialog.modal-sm
              .modal-content
                .modal-body
                  %h3 Are you sure?
                  = link_to @category, method: :delete, class: 'btn btn-danger btn-lg btn-block' do
                    = icon('trash')
                    Yes, delete
                  = link_to "#", data: { dismiss: 'modal' }, class: 'btn btn-default btn-lg btn-block' do
                    = icon('remove')
                    No, cancel
          = link_to icon_and_text("trash", "Delete"), @category, data: { toggle: 'modal', target: '#delete-confirm-modal' }, class: 'btn btn-danger'

= link_to icon_and_text("chevron-left", "Back"), categories_path, class: 'btn btn-default'
