- if user_signed_in?
  %p.hidden-md.hidden-lg
    = link_to icon_and_text("plus", "New task"), new_task_path(category: params[:category]), class: "btn btn-block btn-success navbar-btn"

  %h2 Filter

  .panel.panel-default
    .panel-heading By due at
    .list-group
      - Task::SCOPES.each do |show, text|
        - count = current_user.tasks.send(show).count
        = link_to send("#{show}_tasks_path"), class: "list-group-item #{'list-group-item-danger' if show == 'delayed' && count > 0} #{'active' if action_name == (show == 'todo' ? 'index' : show)}" do
          = text
          %span#counter-by-due-at.label{id: show, class: "#{show == 'delayed' && count > 0 ? 'label-danger' : 'label-info'}"}= count

  .panel.panel-default
    .panel-heading By category
    .list-group
      - current_user.categories.each do |category|
        = link_to by_category_tasks_path(category: category), class: "list-group-item #{'active' if action_name == 'by_category' && category == params['category']}" do
          = category
          %span#counter-by-category.label.label-info{id: category.parameterize}= current_user.tasks.todo.where(category: category).count
      = link_to uncategorized_tasks_path, class: "list-group-item #{'active' if action_name == 'uncategorized'}" do
        = "Uncategorized"
        %span#counter-by-category.label.label-info{id: 'uncategorized'}= current_user.tasks.todo.uncategorized.count
      = link_to tasks_path, class: "list-group-item #{'active' if controller_name == 'tasks' && action_name == 'index'}" do
        = "All categories"
        %span#counter-by-category.label.label-info{id: 'all'}= current_user.tasks.todo.count

  %h2 User

  .list-group
    = link_to icon_and_text('user', "My Profile"), edit_user_registration_path, class: 'list-group-item'
    = link_to icon_and_text('sign-out', "Logout"), destroy_user_session_path, method: :delete, class: 'list-group-item'
